alembic
bs4
flake8
Flask
lxml_html_clean
mypy
psycopg2
py-cord
pymysql
requests
requests-html
schedule
sqlalchemy
sqlalchemy2-stubs
sqlalchemy-json
tenacity
types-beautifulsoup4
types-waitress
waitress
