<html lang="en">
<head>
    <title>Games</title>
    <link href="https://unpkg.com/gridjs@5/dist/theme/mermaid.min.css" rel="stylesheet"/>
    <style>
        body {
            font-family: Sans-Serif, serif;
        }
    </style>
</head>
<body>
<div>
    <h1>Games</h1>
    <hr>
    <div id="table"></div>
</div>
<script src="https://unpkg.com/gridjs@5/dist/gridjs.umd.js"></script>
<script>
    const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
    };

    new gridjs.Grid({
        columns: [
            {id: 'url', name: 'URL', sort: false, hidden: true},
            {id: 'devlog', name: 'Devlog', sort: false, hidden: true},
            {id: 'rating_count', name: 'Rating Count', sort: false, hidden: true},
            {id: 'platform_windows', name: 'Windows', sort: false, hidden: true},
            {id: 'platform_linux', name: 'Linux', sort: false, hidden: true},
            {id: 'platform_mac', name: 'Mac', sort: false, hidden: true},
            {id: 'platform_android', name: 'Android', sort: false, hidden: true},
            {id: 'platform_web', name: 'Web', sort: false, hidden: true},
            {id: 'stats_blocks', name: 'Blocks', sort: false, hidden: true},
            {id: 'stats_options', name: 'Options', sort: false, hidden: true},
            {
                id: 'name', name: 'Name', formatter: (cell, row) => {
                    return gridjs.html('<a target="_blank" href="' + row.cells[0].data + '">' + cell + '</a>');
                }
            },
            {
                id: 'thumb_url', name: 'Thumbnail', formatter: (cell) => {
                    return cell ? gridjs.html('<img src="' + cell + '" width="150" alt=""/>') : '';
                }, sort: false
            },
            {id: 'description', name: 'Description', sort: false},
            {
                id: 'latest_version', name: 'Latest Version', formatter: (cell, row) => {
                    return gridjs.html('<a target="_blank" href="' + row.cells[1].data + '">' + cell + '</a>');
                }, sort: false
            },
            {
                id: 'rating', name: 'Rating', formatter: (cell, row) => {
                    return cell + ' (' + row.cells[2].data + ' votes)';
                }
            },
            {
                id: 'updated_at', name: 'Last Update', formatter: (cell) => {
                    return cell ? (new Date(cell * 1000)).toLocaleString() : '';
                }
            },
            {
                id: 'stats_menus', name: 'Menus', formatter: (cell) => {
                    return cell ? cell.toLocaleString() : '';
                }
            },
            {
                id: 'stats_words', name: 'Words', formatter: (cell) => {
                    return cell ? cell.toLocaleString() : '';
                }
            },
            {id: 'languages', name: 'Languages', sort: false},
            {
                id: 'platforms', name: 'Platforms', formatter: (cell, row) => {
                    const platforms = [];
                    if (row.cells[3].data) {
                        platforms.push('Windows');
                    }
                    if (row.cells[4].data) {
                        platforms.push('Linux');
                    }
                    if (row.cells[5].data) {
                        platforms.push('Mac');
                    }
                    if (row.cells[6].data) {
                        platforms.push('Android');
                    }
                    if (row.cells[7].data) {
                        platforms.push('Web');
                    }
                    return platforms.join(', ');
                }, sort: false
            },
            {id: 'status', name: 'Status'},
        ],
        server: {
            url: '/api/data',
            then: results => results.data,
            total: results => results.total,
        },
        search: {
            enabled: true,
            server: {
                url: (prev, search) => {
                    return updateUrl(prev, {search});
                },
            },
        },
        sort: {
            enabled: true,
            multiColumn: true,
            server: {
                url: (prev, columns) => {
                    const columnIds = ['url', 'devlog', 'rating_count', 'platform_windows', 'platform_linux',
                        'platform_mac', 'platform_android', 'platform_web', 'stats_blocks', 'stats_options',
                        'name', 'thumb_url', 'description', 'latest_version', 'rating', 'updated_at',
                        'stats_menus', 'stats_words', 'languages', 'platforms', 'status'];
                    const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
                    return updateUrl(prev, {sort});
                },
            },
        },
        pagination: {
            enabled: true,
            server: {
                url: (prev, page, limit) => {
                    return updateUrl(prev, {start: page * limit, length: limit});
                },
            },
        },
    }).render(document.getElementById('table'));
</script>
</body>
</html>
