<html lang="en">
<head>
    <title>Games</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet"/>
    <style>
        body {
            font-family: Sans-Serif, serif;
        }
    </style>
</head>
<body>
<div>
    <h1>Games</h1>
    <hr>
    <div id="table"></div>
</div>
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
    const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
    };

    new gridjs.Grid({
        columns: [
            {id: 'name', name: 'Name'},
            {
                id: 'thumb_url', name: 'Thumbnail', formatter: (cell) => {
                    return cell ? gridjs.html('<img src="' + cell + '" width="150" alt=""/>') : '';
                }, sort: false
            },
            {id: 'description', name: 'Description', sort: false},
            {id: 'latest_version', name: 'Latest Version', sort: false},
            {
                id: 'updated_at', name: 'Last Update', formatter: (cell) => {
                    return cell ? (new Date(cell * 1000)).toLocaleString() : '';
                }
            },
            {
                id: 'url', name: 'URL', formatter: (cell) => {
                    return gridjs.html('<a href="' + cell + '">' + cell + '</a>');
                }, sort: false
            },
        ],
        server: {
            url: '/api/data',
            then: results => results.data,
            total: results => results.total,
        },
        search: {
            enabled: true,
            server: {
                url: (prev, search) => {
                    return updateUrl(prev, {search});
                },
            },
        },
        sort: {
            enabled: true,
            multiColumn: true,
            server: {
                url: (prev, columns) => {
                    const columnIds = ['name', 'description', 'latest_version', 'updated_at', 'url'];
                    const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
                    return updateUrl(prev, {sort});
                },
            },
        },
        pagination: {
            enabled: true,
            server: {
                url: (prev, page, limit) => {
                    return updateUrl(prev, {start: page * limit, length: limit});
                },
            },
        },
    }).render(document.getElementById('table'));
</script>
</body>
</html>
